.App {
  text-align: center;
  
}
button {
  margin-top: 10px;
  background-color: red;
  color: white;
  padding-left:  37px;
  padding-right: 37px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
  border-radius: 5px;
  border-bottom: 3px;
 border: none;
  cursor: pointer;
  box-shadow: gray;
}
input{
  border-radius: 5px;
  border-color: lightgray;
}
button:hover {
  background-color: rgb(143, 4, 4);
}
button:active {
 transform: translateY(7px);
 box-shadow: gray;
 
}